<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://encryptdecryptapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8a70ed04-1c46-459e-9ba6-83427a083de6/resourcegroups/Serverless/providers/Microsoft.Web/sites/EncryptDecryptApp</ResourceId>
    <UserName>$EncryptDecryptApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://encryptdecryptapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>